<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body class="auth-body">
    <div class="auth-card">
        <h2>Bienvenido</h2>
        <form id="loginForm">
            <input type="text" id="logUser" class="form-control" placeholder="Usuario" required>
            <input type="password" id="logPass" class="form-control" placeholder="Contraseña" required>
            <button type="submit" class="btn-primary" style="width:100%">Entrar</button>
        </form>
        <div class="auth-footer"><p>¿Nuevo?</p><a href="/registro" class="auth-link">Crear Cuenta</a> <br><br> <a href="/" class="auth-link">Volver</a></div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>